<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMEVMessageExchangeSoap11Binding" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="SMEVMessageExchangeSoap11Binding"
                contract="SMEV3TestService.SMEVMessageExchangePortType" name="SMEVMessageExchangeEndpoint" />
        </client>
    </system.serviceModel>
</configuration>